<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension id="CODE_Builder" name="COBOL Builder" point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="biz.ritter.develop.cobol.builder.COBOLProjectBuilder" />
      </builder>
   </extension>

   <extension id="CODENature" name="COBOL Nature" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="biz.ritter.develop.cobol.nature.ProjectNature" />
      </runtime>
      <builder id="CODE_Core.CODE_Builder" />
   </extension>


   <extension point="org.eclipse.ui.newWizards">
      <category id="category.COBOL" name="COBOL">
      </category>
      <wizard
            category="category.COBOL"
            class="biz.ritter.develop.cobol.wizard.NewProject"
            hasPages="true"
            id="biz.ritter.develop.cobol.NewProjectWizard"
            name="COBOL Project"
            project="true">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="biz.ritter.develop.cobol.prefs.COBOLPreferencePage"
            id="biz.ritter.develop.cobol.prefs.COBOLPreferencePage"
            name="COBOL Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="biz.ritter.develop.cobol.prefs.COBOLPreferenceInitializer">
      </initializer>
   </extension>

   <extension point="org.eclipse.ui.ide.projectNatureImages">
   			<image
   			    icon="icons/nature.cobol.16.16.png"
   			    natureId="CODE_Core.CODENature"
   			    id="CODENatureImage"/>
   </extension>

</plugin>
